.ftpignore
.ftpconfig
.vscode
.idea

# Byte-compiled / optimized / DLL files
.ipynb_checkpoints/
__pycache__/
*.py[cod]
*$py.class
*.swp

*.hdf5
*.h5
/logs
/retrieval_json
/.vector_cache
/ckpt
/data/activitynet
/data/charades
/data/multithumos
/data/thumos
*.pkl
submission_final.json 
submission.json
/ensemble_model
/configs/cvprw
/configs/iccv23
/configs/tc_dev
